config.json
01 - Setare username si email.png
02 - Add statging si commit pentru programul de analiza a datelor produselor online.png
03- Creare ramura nou add-product-removal.png
04 - Commit functie stergere produse.png
05 - Adaugare functie sterge produse pe ramura principala si commit.png
06 - Adaugare ramura noua, creare clasa cart, revenire main, imbinare si rezolvare conflict si commit.png
07 - Adaugare README.md